body {
 align-content: center;
 display: flex;
}


#hr-lines:before{
  content:"";
  display:flex;
  height: 2px;
  width: 140px;
  position: absolute;
  top: 30%;
  left: 150px;
  background: gray;
}
#hr-lines{
  display: flex;
  position:relative;
  max-width: 150px;
  margin: 10px auto;
  text-align: center;
}
#hr-lines:after{
content:"";
height: 2px;
width: 140px;
background: gray;
display: flex;
position: absolute;
top:30%;
right:150px;
}

